Package: com.axs.keyboardtheme
Name: KeyboardTheme
Version: 0.0.1
Architecture: iphoneos-arm
Description: KeyboardTheme on iOS 16
Maintainer: Axs
Author:  Axs
Section: Tweaks
Depends: firmware (>= 16.0), ellekit
